.main{
  width: 100%;
  height: 300px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  font-family: "Times New Roman";
  text-align: center;
  padding: 0 48%;


}
h1{
  color: white;
  text-align: center;
}
.size{
  width: 400px;
  height: 400px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-around;
  text-align: center;

}
.size1{
  width: 100%;
    background-color: white;
  display: flex;
  justify-content: space-around;
    padding: 30px;
  text-align: center;

}
.size2 {
  width: 100%;
  height: 300px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  font-family: "Times New Roman";
  text-align: center;
  justify-content: center;

}
p{
  color: white

}



